
@{
    ViewBag.Title = "Mission";
}

<h2>@ViewBag.name</h2>

<p>The @ViewBag.name is at @ViewBag.address.</p>

<p>The current Mission President is President @ViewBag.president.</p>

<p>The mission language is @ViewBag.language.</p>

<p>The climate is @ViewBag.climate.</p>

<p>The dominant religion is @ViewBag.dominate.</p>

<img src=@ViewBag.flag alt="Mission Flag"/>